		/* 0.0 Contents 	
======================================================*/
/*
	1.0 Typography
	2.0 Navbar
	3.0 Hoskentron
	4.0 Content
	5.0 footer
	6.1 @media	max-width: 1500px
	6.2 @media	max-width: 1200px 
	6.3 @media	max-width: 920px 
	6.4 @media	max-width: 900px 
	6.5 @media	max-width: 800px 
	6.6 @media	max-width: 600px 
	6.7 @media	max-width: 500px 

*/	

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'segoe ui';
	font-family: 'open sans', 'gill sans', 'arial', sans-serif;
	font-size: 18px;
}

html,
body {
	background-color: #222222;
    width: 100%;
    margin: 0;
    padding: 0;
}

li { list-style-type: none; }

.show-1200,
.show-920,
.show-800,
.show-600,
.show-500 { 
	display: none; 
}


		/* 1.0 Typography 	
======================================================*/

h1, h2, h3, h4, h5, h6  {
	color: #fff;
	font-family: 'open sans condensed', 'open sans', sans-serif;
	font-weight: 900;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 60px; line-height: 70px; margin-bottom: 50px; letter-spacing: -2px; }
h2 { font-size: 27px; line-height: 40px; margin-bottom: 10px; }
h3 { font-size: 24px; line-height: 34px; margin-bottom: 8px; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }
.subheader { color: #777; }

h1:after {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	width: 60px;
	margin-top: 24px;
	margin-left: -30px;
}

p { margin: 0 0 20px 0; color: #fff; }
p img { margin: 0; }

a { text-decoration: none; color: #fff }
em { font-style: italic; text-decoration: none; color: #fff }
strong { font-weight: bold; }

img, ul, li, th, td { color: #fff; }

blockquote { border-left: 1px solid #ccc; }

		/* 2.0 Navbar 
======================================================*/

#nav-overlay {
	background-color: transparent;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
}

nav {
	background-color: rgb(34, 34, 34, 0.9);
	width: 100%;
	height: 101px;
	position: fixed;
	border-bottom: 1px solid #fff;
	margin-top: -100px;
}

#nav-container {
	margin: auto;
	padding-bottom: 30px;
	width: 1350px;
}

#nav-logo {
	width: 300px;
	height: 100px;
	float: left;
}

#nav-list {
	width: 850px;
	float: left;
	margin: 0px -30px 0px 30px;
}

#nav-list > a {
	display: inline-block;
	width: 166px;
	line-height: 100px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}

#link-about {
	margin: 0px -0px 0px 0px;
}

#link-certified-divers {
	margin: 0px 20px 0px -20px;
}

#link-padi-courses {
	margin: 0px 10px 0px -10px;
}

#link-blog {
	margin: 0px 50px 0px -50px;
}

#link-contact {
	margin: 0px 100px 0px -100px;
}

.nav-score {
	margin: -32px 33px;
	transition: 1000ms;
	background-color: #fff;
	width: 0px;
	height: 2px;
	opacity: 0;
}

#link-certified-divers > .nav-score {
	margin-left: 33px;
}

#nav-list > a:hover > .nav-score {
	width: 100px;
	opacity: 1;	
	background-color: #00aace;
}

#nav-padi {
	width: 200px;
	height: 100px;
	float: left;
}

#burger {
  	display: none;
  	cursor: pointer;
	padding-top: 30px;
	padding-left: 32px;
	width: 100px;
	height: 100px;
}

nav > a {
	display: none;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #ccc;
	margin: 6px 0;
	transition: 400ms;
}

.cross .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
	background-color: #f00;
}

.cross .bar2 {opacity: 0;}

.cross .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
	background-color: #f00;
}


#nav-click {
	width: 90%;
	margin: 110px auto 0px auto;
	background-color: rgb(34, 34, 34, 0.95);
	display:none;
	border: 3px solid #fff;
}
 
#nav-click > a {					
	text-align: center;
	text-decoration: none;
	font-family: 'open sans condensed', 'open sans', sans-serif;
	font-size: 19px;
	font-weight: 700;
	line-height: 50px;
	display: block;
	border-bottom: 2px solid #fff;	
}

#nav-click > a:last-child {
	border-bottom: none;
}

#nav-click > a:hover {
	color: #000;
	background-color: #fff;
}

#link-certified-divers > div {
	margin-left: 20px;
}

#link-courses > div {
	margin-left: 30px;
}

#padi-tiny {
	margin-bottom: -3px;
}

#nav-click > div {
	border: 1px solid #fff;
	color: #fff;
	height: 60px;
	width: 100%;
	padding-top: 18px;
}


		/* 3.0 Hoskentron 
======================================================*/

#hoskentron {
  	background-image: url(../img/cover.jpg);
	background-size: cover; 
	background-position: center;
	width: 100%;
	height: 1000px;
	background-color: #444444;
	border-bottom: 1px solid #fff;
	text-align: center;
	margin-top: 100px;
}

#hoskentron-top {
	height: 500px;
}

#hoskentron-heading-p {
	padding: 300px 0px 0px;	
	font-family: 'open sans condensed', 'open sans', sans-serif;
	font-size: 90px;
	line-height: 70px;
	letter-spacing: -2px;
	font-weight: 900;
}

#hoskentron-sub-p {
	font-family: 'open sans condensed', 'open sans', sans-serif;
	font-size: 38px;
	font-weight: 900;
}

#hoskentron-bottom {
	margin-top: 60px;
}

#hoskentron-bottom > a {
	display: inline-block;
}

#tron-link-left,
#tron-link-right {
	margin-right: 10px;
}

#tron-link-right

#padi-bottom {
	display: inline-block;
}

#padi-top {
	margin-left: -112px;
	margin-top: 7px;
	display: inline-block;
}

#padi-top {
	transition: all 500ms ease-in-out;
}

#padi-text {
	font-family: 'open sans condensed', 'open sans', sans-serif;
	font-size: 32px;
	margin-top: -48px;
}

#hoskentron-bottom > a > div {
	transition: 500ms ease-in-out;
}

.tron-button {
	border: 5px solid #fff;
	width: 275px;
	height: 70px;
	color: #fff;
	text-decoration: none;
	font-family: 'open sans condensed', 'open sans', sans-serif;
	font-size: 32px;
	font-weight: 600;
	padding-top:8px;
}

#tron-padi-courses:hover #padi-top {
	opacity:0;
}

#tron-link-left:hover > div {
	width: 350px;
	padding-right: 20px;
	margin-left: -75px;
}

#tron-link-right:hover > div {
	width: 350px;
	padding-left: 20px;
	margin-right: -75px;
}

.tron-button:hover {
	background-color: #fff;
	color: #000;
}

#hoskentron-social {
	margin-top: 40px;
}

#hoskentron-social > a {
	margin: 40px;
}


		/* 4.0 Content 
======================================================*/
.hero-image {
    width: 100%;
    height: 600px;
 	margin-top: 100px;
	background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
	border-bottom: 1px solid #fff;
	transition: 500ms;
}

.content-positioning {
	width: 1350px;
	margin: 0px auto;
	text-align: center;
  	text-justify: inter-word;	
}

#price-header {
	display: none;
}

.content-left {
	float: left;
	width: 1100px
}

.cert-table {	
	width: 100%;
	margin-bottom: 50px;
}

.cert-table tr {
	height: 30px;
}

.cert-table tr:nth-child(even) {
	background: rgb(90,90,90, 0.3)
}

.cert-table td:first-child {
	text-align: left;
	padding-left: 5px;
}

.cert-table td:last-child {
	text-align: right;
	padding-right: 5px;
}

.cert-table td > a {
	color: #00aace;
	font-style: italic;
}

.cert-table td > a:hover {
	color:#00dbff;
}

.content-heading-p {
	margin: 40px 0px;	
	font-family: 'open sans condensed', 'open sans', sans-serif;
	font-size: 70px;
	line-height: 70px;
	letter-spacing: -2px;
	font-weight: 900;
}

.content-sub-p {
	font-family: 'open sans condensed', 'open sans', sans-serif;
	font-size: 38px;
	font-weight: 900;
	margin-top: 60px;
}

.content-supersub {
	background-color: crimson;
	font-family: 'open sans condensed', 'open sans', sans-serif;
	font-size: 28px;
	font-weight: 900;
	margin-top: 60px;
	margin-right: 0px;
	line-height: 0px;
	float: left;
}

.standard-text {
	line-height: 30px;
	clear: both;
}

.switz4 {
	margin: 60px 0px;	
	text-align: center;
  	text-justify: inter-word;
}

.marbot {
	margin-top: 0px;
	margin-bottom: 0px;
}

.porthole50 {

	width: 300px;
	display: inline-block;
	margin: 0px 8px 50px 8px;
}

.light50 {
	border-radius: 50%;
	width: 300px;
	border: 10px solid transparent;
	transition-property: border;
	transition-duration:  500ms;	
}

.porthole50:hover .light50 {
	border: 0px solid transparent;
}

.p50 {
	font-family: 'open sans', 'open sans condensed', sans-serif;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0px;
	transition-property: letter-spacing;
	transition-duration:  500ms;	
}

.porthole50:hover > .p50 {
	letter-spacing: 2px;
}

.porthole38 {
	width: 245px;
	display: inline-block;
	margin: 0px 8px 50px 8px;
}

.light38 {
	border-radius: 50%;
	width: 245px;
	border: 10px solid transparent;
	transition-property: border;
	transition-duration:  500ms;	
}

.porthole38:hover > .light38 {
	border: 0px solid transparent;
}

.p38 {
	font-family: 'open sans', 'open sans condensed', sans-serif;
	font-size: 28px;
	font-weight: 700;
	letter-spacing: 0px;	
	transition: 500ms;	
}

.suffix38 {
	font-size: 15px;
}

.porthole38:hover > .p38 {
	letter-spacing: 2px;
}

.bullet-dble {
	margin-bottom: 0px;
}

#padi-smaller {
	margin-bottom: -5px;
	transition: 500ms;		
}

.price-small {
	font-size: 15px;
	font-weight: 600;
/*	background-color: indianred;*/
	margin: -7px 0px 0px 0px;
	float: right;
}

.price-tiny {
	font-size: 13px;
	clear: both;
	float: right;
	margin-top: -30px;
}

.price-large {
	font-size: 60px;
	font-weight: 600;
/*	background-color: darkviolet;*/
	padding: 0px;
	float: right;
	line-height: 30px;
}

#content-right {
/*	background-color: indigo;*/
	width: 230px;
	float: right;
	margin-top: 60px;
	text-align: left;
}

.price {
	padding: 10px 50px 90px 0px;
	margin-bottom: 13px;
}

#panel-price {
	border-bottom: 1px solid #fff;
}

.panel-menu-header {
	font-weight: 600;
	font-size: 25px;
	margin: 10px 0px 0px 0px;
	padding: 20px 0px 5px 10px ;
	border-top: 1px solid #fff;
	clear: both;
}

#content-right > ul {
	border-bottom: 1px solid #fff;
	padding-bottom: 13px;
	margin-bottom: 13px;
}

#content-right li > a {
	margin-left: 22px;
	transition: 500ms;
	line-height: 40px;
	font-size: 20px;
	font-size: 15px;
}

#active { 
	color: #00aace;
	font-weight: 700;
	margin-left: 11px;
}

#active:hover { 
	margin-left: 21px;
}
	
#content-right li:hover > a {
	margin-left: 11px;
	font-size: 17px;
	color: #00aace;
}

.divider {
	background-color: #ccc;
	height: 2px;
	width: 600px;
	margin: 60px auto;
	clear: both;
}

.divider-small {
	background-color: #ccc;
	height: 2px;
	width: 150px;
	margin: 40px auto 40px;
	clear: both;
}

.porthole22-off {
/*	background-color: teal;*/
}

.porthole22-off:last-child {
	margin-bottom: 30px;
}

.porthole22-off-even {
	margin-right: 50px
}

.light22 {
/*	background-color: indianred;*/
	width: 224px;
	margin: 30px auto 0px; 
	float: left;
}

.light22-right {
/*	background-color: indianred;*/
	width: 224px;
	margin: 20px 60px;
	float: right;
/*	display: none;*/
}

.bullet-info {
/*	background-color: indigo;*/
	width: 750px
}

.bullet-info-even {
/*	background-color: fuchsia;*/
	float: right;
	margin-bottom: 30px;
}

.bullet-info-minor {
	line-height: 15px;
	font-size: 12px;
	padding: 0px;
	margin: 4px 15px 0px 15px;
	font-family:  'open sans', 'open sans condensed', sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
}

.padi-no {
	line-height: 15px;
	font-size: 12px;
	font-family:  'open sans', 'open sans condensed', sans-serif;
	color: #00aace;
}

.staff-pos {
/*	background-color: cornflowerblue;*/
	float: right;
	margin: 40px 0px 0px; 
	padding: 0px;
}

.staff-text {
	text-align: justify;
	line-height: 30px;
	clear: left;
}

.bullet22-p {
	text-align: justify;
	clear: left;
}

.blog-menu {
	border: 1px solid #ccc;
	border-radius: 15px;
	margin-bottom: 30px;
}

.blog-menu-header {
	background-color: rgb(255, 255, 255, 0.3);
	border-bottom: 1px solid #ccc;
	letter-spacing: 2px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px 15px 0px 0px;
}

.blog-menu > p {
	margin-bottom: 5px;
}

.blog-menu > p > a{
	padding-left: 20px;
	font-size: 14px;
	margin-bottom: 0px;
}

.blog-menu > p:hover > a {
	color: #00aace;
}

.line-deco {
	margin: 10px 0px;
}

.blog-author {
/*	background-color: indianred;*/
	margin: -30px 0px 0px 0px;
}

.blog-author,
.blog-date {
	text-align: left;
	font-weight: 300;
	font-style: italic;
	padding-left: 25px
}

.blog-img {
	width: 100%;
	border-radius: 15px;
}

.blog-sub-info {
	line-height: 20px;
	margin-left: 15px;
	margin-right: 15px;
}
.blog-lead {
	color: #ddd;
	font-weight: 300;
}

.blog-sub-p-spacing {
	line-height: 30px;
	margin: -35px 0px 40px;
	font-size: 30px;
}

.content-left iframe {
	width: 1100px; 
	height: 619px;
	border-radius: 15px;
	margin-bottom: 30px;
}


.blog-link {
	color: #00aace;
}

.blog-link:hover {
	color: #00dbff;
}

.quote {
	width: 80%;
	margin: 10px auto 30px;
	padding-left: 10px;
}

.quote > p {
	margin: 0px 0px 0px 35px;
	text-align: left;
	font-style: italic;
}

.lang-bold {
	font-weight: 700;
}

.panel-img {
	width: 230px;
	background-color: #00aace;
	padding-top: 130px;
	background-size: cover; 
	background-position: center;
}

#panel-img-about {
	background-image: url("../img/pan-about.jpg");
	height: 980px;
}

#panel-img-certified-divers {
  	background-image: url(../img/pan-certified-divers.jpg);
	height: 1795px;
}

#panel-img-padi-courses {
  	background-image: url("../img/pan-padi-courses.jpg");
	height: 1140px;
}

#panel-img-snorkeling-tour {
  	background-image: url("../img/pan-snorkel-tour.jpg");
	height: 510px;	
}

#panel-img-dsd {
  	background-image: url("../img/pan-dsd.jpg");
	height: 435px;
}

#panel-img-whale-shark-snorkel-tour {
  	background-image: url("../img/pan-whale-shark-tour.jpg");
	height: 545px;
}

#panel-img-bull-shark-tour {
  	background-image: url("../img/pan-bull-shark-tour.jpg");
	height: 167px;
}
		/* 5.0 footer 
======================================================*/
footer {
	background-color: #171717;
/*	background-color: red;*/
	border-top: 1px solid #fff;
	text-align: center;
  	text-justify: inter-word;
	height: 400px;
	clear: both;
}

#footer-container {
	width: 1350px;
	height: 400px;
	margin: auto;
	transition: 300ms;
/*	background-color: teal;*/
}

#footer-menu,
#footer-address {
	width: 500px;
	height: 350px;
	float: left;
	transition: 300ms;
/*	background-color: orchid;*/
}

footer ul,
footer a,
footer li {
	font-size: 15px;
	font-weight: 400 !important;
}

#footer-menu {
	text-align: left;
}

#footer-menu > ul > h2 {
	line-height: 30px;
	letter-spacing: 3px;
}

#footer-menu > ul > li {
	font-weight: 300;
	letter-spacing: 2px;	
	line-height: 40px;
}

#footer-menu > ul > li:first-child {
	margin-top: 40px;
}

#footer-menu > ul > li:last-child {
	line-height: 27px;
}

#footer-menu > ul > li:hover a {
	font-weight: 700 !important;
	color: #00aace;
}

#map-container {
	overflow: hidden; 
	border-radius: 50%; 
    border: 10px solid #f8f8f8;
	width: 350px;
	height: 350px;
	margin-top: 20px;
	float: left;
}

#map-container > iframe {
	width: 100%;
	height: 500px;
	margin-top: -80px;
	frameborder: 0px;
	border: 0px;
}

#footer-address {
	text-align: end;
}

#footer-address > ul > li {
	font-weight: 300;
	line-height: 30px;
	letter-spacing: 2px;	
}

#footer-address > ul > li:first-child {
	margin-top: 45px;
	padding-bottom: 40px;
}

#footer-address > ul > li:nth-child(7) {
	padding-top: 40px;
}

#footer-address > ul > li:last-child {
	line-height: 36px;
}

#footer-address-bottom {
	display: none;
}


		/* 6.1 @media				max-width: 1500px 
======================================================*/
@media screen and (max-width: 1500px) {
	.hidden-1500 {
		display:block;
	}
	
	#nav-container,
	.content-positioning,
	#footer-container {
		width: 1100px;
/*		background-color: olive;*/
	}
	
	.split {
		width: 900px;
	}
	
	#nav-list {
		width: 600px;
	}
	
	#nav-list > a {
		width: 116px;
		font-size: 11px;
		font-weight: 600;
	}	

	#link-about {
		margin: 0px 20px 0px -20px;
	}

	#link-certified-divers {
		margin: 0px 30px 0px -30px;
	}

	#link-padi-courses {
		margin: 0px 10px 0px -10px;
	}

	#link-blog {
		margin: 0px 20px 0px -20px;
	}

	#link-contact {
		margin: 0px 50px 0px -50px;
	}
	
	.nav-score {
		margin-left: 18px;
	}

	#nav-list > a:hover > .nav-score {
		width: 80px;
	}
	
	#link-certified-divers > .nav-score {
		margin-left: 18px;
	}

	.porthole50,
	.light50 {
		width: 250px;
	}

	.p50 {
		font-size: 20px;
	}
	
	#padi-smaller {
		width: 23px;
		height: 22px;
	}

	.porthole38 {
/*		background-color: aliceblue*/
		margin-left: 38px;
		margin-right: 38px;
		width: 245px;
	}
	
	#footer-menu,
	#footer-address {
		width: 375px;
	}
	
	.content-left {
/*		background-color: indigo;*/
		width: 850px;
	}
	
	.porthole38 {
		width: 300px;
		border-bottom: 1px solid #ccc;
	}

	.cert-table th:last-child,
	.cert-table td:last-child {
		display: none;
	}
	
	#content-right {
/*		background-color: indigo;*/
		width: 230px;
		float: right;
		margin-top: 60px;
		text-align: left;
	}
	
	.price {
		padding-right: 20px;		
	}
	
	.price-small {
/*		background-color: indianred;*/
		font-size: 15px;
		font-weight: 600;
		margin: -7px 0px 0px 0px;
		float: right
	}
	
	.price-large {
/*		background-color: darkviolet;*/
		font-size: 60px;
		font-weight: 600;
		padding: 0px;
		float: right;
		line-height: 30px;
	}
	
	.panel-menu-header {
		margin-left: 0px;
		padding-left: 0px;
	}	

	#content-right li > a {
		font-size: 15px;
	}
	
	#content-right li:hover > a {
		margin-left: 11px;
		font-size: 17px;
		color: #00aace;
	}
	
	.porthole22-off {
/*		background-color: indianred;*/
	}
	
	.porthole22-off-even {
		margin-right: 0px;
		margin-bottom: 280px
	}
	.bullet-info {
/*		background-color: indigo;*/
		width: 523px;
		margin-right: 10px;
		height: 350px;
	}
	
	.light22 {
		width: 300px;
	}
	
	.light22-right {
		width: 300px;
		margin: 28px 13px;
		float: right;
	}

	.content-left iframe {
		width: 850px; 
		height: 478px;
	}
	
	#panel-img-about {
		height: 1345px;
	}
	
	#panel-img-certified-divers {
		height: 1915px;
	}
	
	#panel-img-padi-courses {
		height: 2405px
	}
	
	#panel-img-snorkeling-tour {
		height: 555px;	
	}

	#panel-img-dsd {
		height: 350px;
	}
	
	#panel-img-whale-shark-snorkel-tour	{
		height: 500px;
	}
	
	#panel-img-bull-shark-tour {
		height: 131px;
	}
}

		/* 6.2 @media				max-width: 1200px 
======================================================*/
@media screen and (max-width: 1200px) {
	.show-1200 {
		display: block;
	}
	
	#nav-container,
	.content-positioning,
	#footer-container {
		width: 900px;
	}
	
	#nav-logo {
		width: 225px;
	}
	
	#nav-logo > img {
		width: 225px;
		height: 75px;
		margin-top: 13px;
	}
	
	#nav-list {
		width: 525px;
	}
	
	#nav-list > a {
		width: 101px;
	}
	
	.nav-score {
		margin-left: 20px;
	}
	
	#nav-list > a:hover > .nav-score {
		width: 60px;
	}
	
	#nav-padi {
		width: 150px;
	}
	
	#nav-padi > img {
		width: 150px;
		height: 75px;
		margin-top: 13px;
	}

	.hero-image {
		height: 500px;	
	}
	
	.porthole50 {
		width: 400px;
	}
	
	.light50 {
		width: 300px;
	}

	.p50 {
		font-size: 30px;
	}

	#padi-smaller {
		width: 33px;
		height: 31px;
	}	
	
	.porthole38 {
		width: 245px;
		margin-left: 38px;
		margin-right: 38px;
	}
	
	#footer-menu,
	#footer-address {
		width: 275px;
	}
	
	.content-left {
		width: 650px;
	}
	
	#content-right {
		width: 230px;
	}
	
	.price {
/*		background-color: forestgreen;*/
		padding-right: 20px
	}
	
	.price-small {
		font-size: 15px;
		font-weight: 600;
/*		background-color: indianred;*/
		margin: -7px 0px 0px 0px;
		float: right
	}

	.price-large {
		font-size: 60px;
		font-weight: 600;
/*		background-color: darkviolet;*/
		padding: 0px;
		float: right;
		line-height: 30px;
	}
	
	.panel-menu-header {
		margin-left: 0px;
		padding-left: 0px;
	}
	
	#content-right li > a {
		font-size: 15px;
	}
		
	#content-right li:hover > a {
		margin-left: 11px;
		font-size: 17px;
		color: #00aace;
	}
	
	.content-left iframe {
		width: 650px;
		height: 366px;
	}
	
	
	.panel-img {
		width: 230px;	
	}

	.light22,
	.light22-right{
		float: none;
		width: 300px;
		margin: 0px auto;
	}
	
	.bullet-info {
/*		background-color: black;*/
		clear: both;
		width: 100%;
		height: auto;
		padding: 0px;
		margin: 0px;
	}
		
	.content-supersub {
		margin-top: 10px
	}
	
	.staff-pos {
		margin-top: -10px;
		margin-right: 10px;
	}
		
	#panel-img-about {
		height: 2120px;
	}
	
	#panel-img-certified-divers {
		height: 2185px;
	}
	
	#panel-img-padi-courses {
		height: 2600px;
	}

	#panel-img-snorkeling-tour {
		height: 570px;	
	}

	#panel-img-dsd {
		height: 400px;
	}
	
	#panel-img-whale-shark-snorkel-tour	{
		height: 570px;
	}
	
	#panel-img-bull-shark-tour {
		height: 183px;
	}
}

		/*	6.3 @media				 max-width: 920px 
======================================================*/
@media screen and (max-width: 920px) {
	.show-920 {
		display: block;
	}
	
	#nav-container,
	.content-positioning,
	.content-left,
	#footer-container {
		width: 750px;
/*		background-color: darkolivegreen;*/
	}
	
	#link-about {
		margin-left: -19px;
	}
	
	#nav-padi {
		display: none;
	}
	
	#hero {
		height: 287px; 
	}
	
	.porthole50 {
		width: 300px;
		transition: 500ms;
		border-bottom: 1px solid #ccc;
	}

	.divider {
		width: 75%;
	}
	
	.light22,
	.light22-right {
		margin: 0px 225px;
	}
	
	.staff-text {
		margin: 0px;
	}
	
	.content-left {
/*		background-color: chartreuse;*/
		width: 100%;
		margin: auto;
	}

	#price-header {
/*		background-color: lightslategray;*/
		display: block;
		padding: 3px 0px 0px 0px;
		margin-top: -43px;
		margin-left: 700px;
		margin-bottom: -100px;
		width: 160px;
		float: right
	}
		
	#price-header > .price-large {
		font-size: 30px;
	}
	
	#content-right {
/*		width: 100%;*/
/*		background-color:goldenrod;*/
/*		margin-top: 0px*/
		display: none;
	}

	.content-left iframe {
		width: 750px;
		height: 422px;
	}
	
	footer {
/*		background-color: red;*/
		height: 550px;
	}
	
	#footer-container {
/*		background-color: navajowhite;*/
		height: 370px;
	}
	
	#footer-menu {
		width: 225px;
	}
	
	#footer-menu {
/*		background-color: darkblue;*/
		float: left;
		width: auto;
	}
	
	#map-container {
		float: right;
	}
	
	#footer-address {
		display: none;
	}
	
	#footer-address-bottom {
/*		background-color: olive;*/
		display: block;
		margin-top: 22px;
		padding-top: 22px;
		clear: both;
		width: 100%;
		height: 120px;
		border-top: 1px solid #fff;
	}

	.footer-text {
		font-size: 16px;
		text-align: center;
		line-height: 0px;
	}
}

		/* 6.4 @media				 max-width: 900px 
======================================================*/
@media screen and (max-width: 900px) {
	.standard-text {
		text-align: center;
	}

	.bullet22-p {
		text-align: justify;
	}

	footer {
		height: 540px;
	}
	
}

		/*	6.5 @media				 max-width: 800px 
======================================================*/
@media screen and (max-width: 800px) {
	.show-800 {
		display: block;
	}
	
	#hoskentron {
		background-image: url("../img/cover-vertical.jpg");
	}
	
	nav {
		max-width: 800px;
	}
	
	#nav-container {
		display: none;
	}
	
	#burger {
		display: block;
		float: left;
		margin-left: 30px;
	}
	
	nav > a {
		float: right;
		display: block;
		margin: 15px 30px 0px 0px;;		
	}
	
	nav > a > img {
		width: 70px;
		height: 70px;
	}

	.content-positioning,
	#footer-container {
		width: auto;
		margin: 0px 20px 0px 20px
	}
	
	.porthole38,
	.light38 {
		width: 300px;
	}
	
	.p38 {
		font-size: 30px;
	}
	
	.porthole22-off {

	}
		
	.light22,
	.light22-right {
/*		background-color: aliceblue;*/
		width: 300px;
		margin: auto;
	}
	
	.bullet22-p {
		background-color: indigo;
	}

	.content-left iframe {
		width: 99%;
		height: 320px;
		margin-left: 1%;
		margin-right: 1%;
	}
	
	#price-header {
/*		background-color: goldenrod;*/
		margin-top: -40px;
		margin-left: 700px;
	}
}
	
		/*							 max-width: 600px 
======================================================*/

@media screen and (max-width: 600px) {
	.show-600 {
		display: block;
	}
	
	#hoskentron-top {
		margin-bottom: 0px;
		padding-bottom: 0px;
/*		background-color: indianred;*/
		height: 450px;
	}
	
	#hoskentron-heading-p {
		padding-top: 150px;
		font-size: 80px;		
	}

	#hoskentron-bottom {
/*		background-color: olive;*/
	}
		
	#tron-link-left,
	#tron-link-right {
		margin: 10px auto;
		display: block;
	}
	
	#tron-link-left:hover > div,
	#tron-link-right:hover > div {
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;
		width: 275px;
	}
	
	#hoskentron-social > a {
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.porthole50:last-child {
		border: 0px solid #ccc;
	}
	
	.content-left {
/*		background-color: red;*/
	}
	
	.porthole38 {
/*		background-color: indigo;*/
		width: 300px !important;
	}
	
	.porthole38 > div {
/*		background-color: bisque;*/
		width: 300px;
	}
	
	.content-left .bullet {
/*		background-color: fuchsia;*/
		width: 300px;
		height: 300px
	}
	
	.content-left .bullet-p {
/*		background-color: saddlebrown;*/
		width: 300px;
	}
	
	.bullet-p:hover {
		color: #ccc;
	}
	
	.divider-small {
		margin:40px auto 50px;
	}
	
	.light22,
	.light22-right {
		float: none;
		width: 280px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -0px
	}
	
	footer {
		height: 550px;
	}
	
	#footer-container {
		height: 350px;
	}
	
	#footer-menu {
		display: none;
	}
	
	#map-container {
		text-align: center;
		width: 350px;
		margin: 30px auto;
		float: none;
	}
}

		/*							 max-width: 500px 
======================================================*/
@media screen and (max-width: 500px) {
	.show-500 {
		display: block;
	}
	
	#nav-container {
		width: 380px;
	}
	
	#nav-logo {
		width: 70px;
	}

	#hoskentron-top {
/*		background-color: indianred;*/
		height: 450px;
	}
	
	#hoskentron-bottom {
/*		background-color: olive;*/
/*		marging-top: -200px !important;*/
	}
	
	#hoskentron-social > a {
		margin-left: 20px;
		margin-right: 20px;
	}
	
	#hoskentron-social > a > img {
		margin-bottom: 40px;
	}
	
	.hero-image {
		height: 300px;	
	}
	
	.content-positioning,
	.content-left {
		margin-left: auto;
		margin-right: auto;
	}
	
	.content-heading-p {
		font-size: 60px;
		margin-left: 20px;
		margin-right: 20px;		
	}
	
	.content-sub-p {
		margin-left: 20px;
		margin-right: 20px;		
	}
	
	#price-header {
		margin-right: 20px;
	}
	
	.standard-text,
	.blog-lead{
		font-weight: 300;
		line-height: 40px;
		margin-left: 20px;
		margin-right: 20px;
		color: #fff;
	}

	.marbot {
/*		background-color: red;*/
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		padding: 0px;
	}
	
	.porthole50,
	.porthole38 {
		margin-left: auto;
		margin-right: auto;
		padding: 0px;
	}
	
	.light22,
	.light22-right {
		margin-bottom: 30px;
	}
	
	.content-supersub {
		margin-left: 20px;
	}
	
	.staff-pos {
		clear: both;
		float: left;
		text-align: left;
		margin-top: 0px;
		margin-left: 20px;
	}
	
	.staff-text {
		font-weight: 300;
		line-height: 40px;
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.blog-img {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}

	.show-920 > .blog-menu {
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.content-left iframe {
		width: 88%;
		margin-left: 5%;
		margin-right: 5%;
	}

	footer {
		height: 500px;
	}
	
	#footer-container {
		width: 100%;
		margin: 0px;
		height: 300px;
	}
	
	#map-container {
		text-align: center;
		width: 300px;
		height: 300px;
	}
	
	#map-container > iframe {
		width: 100%;
		height: 500px;
		margin-top: -100px;
		frameborder: 0px;
		border: 0px;
	}
	
	#footer-address-bottom {
		height: 10px;
		margin-bottom: -50px;
/*		background-color: darkblue;*/
	}
}